<!doctype html>
{% load static %}
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel = "stylesheet" href="{% static 'css/info4.css' %}">
  </head>

  <body>
    <header id="header">
      <div class = "container">
        <a href="home">홈</a>
        <a href="login">로그인</a>
        <a href="signup">회원가입</a>
      </div>

      <div class = "title">
        <p>가배추</p>
      </div>
    </header>

    추가로 배치할 가구를 선택하세요</br>
    <form method="post" action="recommend" enctype="multipart/form-data" class="added_fur">
      {% csrf_token %}
      <div class = "option">
        <input type="checkbox" name="chk_fur2[]" value="bed"> 매트리스
        <select name="size">
            <option value="">매트리스 선택</option>
            <option value="single">싱글(S)</option>
            <option value="supersingle">슈퍼싱글(SS)</option>
            <option value="queen">퀸(Q)</option>
            <option value="king">킹(K)</option>
        </select> </br>

        <input type="checkbox" name="chk_fur2[]" value="refri"> 냉장고</br>
        <input type="checkbox" name="chk_fur2[]" value="wmachine"> 세탁기</br>
        <input type="checkbox" name="chk_fur2[]" value="desk"> 책상</br>
        <input type="checkbox" name="chk_fur2[]" value="closet"> 옷장</br>
        <input type="checkbox" name="chk_fur2[]" value="storage"> 수납장</br>
        <input type="checkbox" name="chk_fur2[]" value="table"> 협탁</br>
      </div>

      <div class = "next">
        <input type="submit" class="btn" value = "추천배치 보기!"></button>
      </div>

    </form>
  </body>
</html>
