* {
    background-color:#ffffff;
    font-family:  "Noto Sans CJK KR"}

/* 우측 상단바 */
.container {
    width : 1200px;
    margin : 0 auto;
    background : inherit;
    text-align :right;}

.container a {
    display : inline-block;
    text-decoration : none;
    color : #212121;
    padding : 5px 0 0 10px;
    transition: all 0.5s ease;}

.container a:hover {color : #268623}

@media (max-width : 1280px){
    .container {
        width : 90%;
        padding : 0 15px
    }
}

/* 사이트 로고 */
.logoimg {
    text-align : center;
}

/* 본문 */
.mainsection{
    text-align : center;
}

.imgCollage {margin:auto;  text-align: center;}
@media screen and (min-width: 600px) {
	.imgCollage {
		display : flex;
        -webkit-box-flex : auto;
        -moz-display:flex;
        -ms-display:flex;
		flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
        -moz-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
	}
	.imgCollage > span { padding: 4px ; }
	.imgCollage > span > .imageblock:not(:last-child) { vertical-align: baseline; }
    .imgCollage .imageblock { text-align:center; padding:0; }
	.imgCollage img { box-shadow: none; }
}
@media screen and (max-width: 599px) {
	.imgCollage > span { padding: 0; width: 100% !important; }
	.imgCollage .imageblock { padding: 16px 0; }
	.imgCollage  > span:first-of-type .imageblock:first-of-type { padding-top: 8px; }
	.imgCollage  > span:last-of-type .imageblock:last-of-type { padding-bottom: 4px; }
}


/* 버튼 */
.button{
    position : relative;
    top : 10px;
    text-align : left;
    padding-left : 10px}

.button button{
    display : inline;
    width : 160px;
    height : 40px;
    color : #ffffff;
    background : #7cb342;
    font-size : 16px;
    border : none;
    border-radius : 20px;
    box-shadow : 0 4px 16px rgba(105,147,6,0.3);
    transition : 0.3s;}

.button button:focus {outline : 0;}

.button button:hover {
    background : rgba(159, 201, 60, 0.9);
    cursor : pointer;
    box-shadow : 0 2px 4px rgba(107, 153, 0, 0.6); }
  
