<!doctype html>
{% load static %}
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel = "stylesheet" href="{% static 'css/home.css' %}">
  </head>

  <body>
    <header id="header">
      <div class = "container">
        <a href="home">홈</a>
        <a href="login">로그인</a>
        <a href="signup">회원가입</a>
      </div>

      <div class = "title">
        <p>가배추</p>
        <h2>결정이 어려운<br>당신을 위한<br>가구 배치 툴 <a style="color:#558b2f">가배추</a></h2>
        <!-- 제출 아니라서 button 씀 -->
        <button type="button" onclick="location.href = 'info1'">바로 시작하기</button>
      </div>

    </header>
  </body>
</html>
