<!DOCTYPE html>

<html lang = 'ko'>
    
    <head>
        <meta charset = 'utf-8'>
        <title> 가구 배치 추천시스템, 가배추 </title>
        <link rel = "stylesheet" href = "info5.css">
        
    </head>

    <body>
        <header id = 'HomeHeader'>
            <div class = 'container'>
                <a href= 'index.html'>홈</a>
                <a href= 'login.html'>로그인</a>
                <a href= 'signup.html'>회원가입</a>
            </div>

            <div class = 'logoimg'>
                <img src="titleLogo2.png" width ="105px" height="28px">
            </div>
        </header>

        <main id = 'MainTitle'>
            <div class = 'mainsection'>
                   
                <div class = 'box'>
                    <div class = 'titlesection'>
                        <p class = "normal"> 감사합니다 </p>
                        <!-- <p class = "normal"> 기다려주세요 </p> -->
                    </div>
                   
    
                    <div class = 'button'>
                        <button type="button" onclick="location.href = 'index.html'"> 처음 화면으로 </button>
                    </div>

                </div>
            </div>
        </main>
    </body>
</html>