<!doctype html>
{% load static %}
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel = "stylesheet" href="{% static 'css/info3.css' %}">
  </head>

  <body>
    <header id="HomeHeader">
      <div class = "container">
        <a href="home">홈</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
        {% else %}
        <a href="login">로그인</a>
        <a href="signup"> 회원가입</a>
        {% endif %}
      </div>

      <div class = 'logoimg'>
        <img src="/static/img/titleLogo2.png" width ="105px" height="28px">
      </div>
    </header>

    <main id = 'MainTitle'>
      <div class = 'mainsection'>
        <p> 정보 입력<br>
             ○ ○ ●  </p>

        <form method='post' action='info4' class = 'selectForm'>
          {% csrf_token %}
          <div class = 'fixedfurniture'>
            <p> 현관을 등지고 고정 가구의 위치를 선택해주세요 </p>

            <div class = 'box'>
              <div class = 'img'>
                <img src="/static/img/fixed.png" style=" max-width:250px; height:auto"  >
              </div>

              <div class = "fixedfurselect">
                <input type = "checkbox" checked="checked" name = "chk_fur1[]" value = "kitchen"> 주방<br>
                <input type = "checkbox" name = "chk_fur1[]" value = "front"> 현관<br>
                <input type = "checkbox"  name = "chk_fur1[]" value = "refri"> 냉장고<br>
                <input type = "checkbox" checked="checked" name = "chk_fur1[]" value = "restroom"> 화장실<br>
                <input type = "checkbox"  name = "chk_fur1[]" value = "bed"> 침대<br>
                <input type = "checkbox"  name = "chk_fur1[]" value = "closet"> 옷장<br>
                <input type = "checkbox"  name = "chk_fur1[]" value = "washer"> 세탁기<br>
                <input type = "checkbox"  name = "chk_fur1[]" value = "none"> 없음<br>
              </div>

              <div class = "fixedfurloc">
                <input type = "text" name = "Kname1[]" style = "width:100px" placeholder=" ex) 1, 2, 3"><br>
                <input type = "text" name = "Kname2[]" style = "width:100px"><br>
                <input type = "text" name = "Kname3[]" style = "width:100px"><br>
                <input type = "text" name = "Kname4[]" style = "width:100px"><br>
                <input type = "text" name = "Kname5[]" style = "width:100px"><br>
                <input type = "text" name = "Kname6[]" style = "width:100px"><br>
                <input type = "text" name = "Kname7[]" style = "width:100px"><br>
              </div>
            </div>
          </div>

          <div class = "button">
            <input type = "submit" class = "btn" value = "다음으로"></button>
          </div>
        </form>
      </div>
    </main> 
  </body>
</html>
