<!-- 회원일 경우 info2 페이지부터 -->
<!doctype html>
{% load static %}
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title> 가배추 정보 입력 [2/3] </title>
    <link rel = "stylesheet" href="{% static 'css/info2.css' %}">
  </head>
  <body>
    <header id="HomeHeader">
      <div class = "container">
        <a href="home">홈</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
        {% else %}
        <a href="login">로그인</a>
        <a href="signup"> 회원가입</a>
        {% endif %}
      </div>

      <div class = 'logoimg'>
        <img src="/static/img/titleLogo2.png" width ="105px" height="28px">
      </div>
    </header>
    
    <main id = 'MainTitle'>
      <div class = 'mainsection'>
        <p> 정보 입력<br>
             ○ ● ○  </p>

        <form method='post' action='info3' class = 'selectForm'>
          {% csrf_token %}
          <div class = 'roomname'>
            <p> 방 이름을 입력해주세요 </p>

            <input type="text" name="Rname" style="width : 150px"><br>
          </div>

          <div class = "button">
            <input type = "submit" class = "btn" value = "다음으로"></button>
          </div>
        </form>
      </div>
    </main>

  </body>
</html>
