<!doctype html>
{% load static %}
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title>page1</title>
    <link rel = "stylesheet" href="{% static 'css/recommand.css' %}">
  </head>

  <body>
    <header id="header">
      <div class = "container">
        <a href="home">홈</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
        {% else %}
        <a href="login">로그인</a>
        <a href="signup"> 회원가입</a>
        {% endif %}
      </div>

      <div class = 'logoimg'>
        <img src="/static/img/titleLogo2.png" width ="105px" height="28px">
      </div>
    </header>
    
    <main id = 'MainTitle'>
      <div class = 'mainsection'>

        <div class = 'titlesection'>
          <p class = "normal"> [말감]님을 위한 추천배치 </p>
        </div>

        <div class="imgCollage">
          <span style="width: 32%">
            <span class="imageblock" style="display:inline-block;">
              <img src="/static/img/정1.png" style="cursor: pointer; max-width:100%; height:auto"  >
            </span>
          </span>

          <span style="width: 32%">
            <span class = "imageblock" style="display:inline-block;">
              <img src="/static/img/정4.png" style="cursor: pointer; max-width:100%; height:auto">
            </span>
          </span>

          <span style="width: 32%">
            <span class = "imageblock" style="display:inline-block;">
              <img src="/static/img/정2.png" style="cursor: pointer; max-width:100%; height:auto">
            </span>
          </span>
        </div>

        <div class = 'evalsection'>
          <form method="" action="home" class="selectForm">
            <p>추천에 대한 피드백과 별점을 남겨 주세요!</p>
            <input type="text" name="Rname" style="background-color:white;"><br>

            <input type="radio" name="chk_info" value="1">★☆☆☆☆<br>
            <input type="radio" name="chk_info" value="2">★★☆☆☆<br>
            <input type="radio" name="chk_info" value="3">★★★☆☆<br>
            <input type="radio" name="chk_info" value="3">★★★★☆<br>
            <input type="radio" name="chk_info" value="3">★★★★★<br>
            
            <div class = "submit">
                <input type="submit" class="btn" value = "제출!"></button>
            </div>
          
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
