* {padding: 0; margin: 0;}
* {background-color:#e8f5e9; font-family:  "Noto Sans CJK KR"}

/* (반응형) 홈 화면 ~1280 */
/*@media (max-width:1280px) {body {background-color:#bbdefb}}
@media (max-width:1024px) {body {background-color:#90caf9}}
@media (max-width:768px) {body {background-color:#64b5f6}}
@media (max-width:600px) {body {background-color:#42a5f5}}
@media (max-width:480px) {body {background-color:#2196f3}}*/

/* (반응형)오른쪽 상단바 */
.container{width: 1200px; margin: 0 auto; background: inherit; text-align:right;}
.container a{display: inline-block; text-decoration: none; color: #212121; padding: 5px 0 0 10px; transition: all 0.5s ease;}
.container a:hover {color: #f44336 }
@media (max-width : 1280px) {.container {width: 90%; padding:0 15px}}

/* 본문 내용 */
.title {text-align: center; text-transform:uppercase;}
.title p {display: inline; font-size: 24px; color:#424242 padding: 20px 20px}
.title h2 {display: block; color: #000000; font-size: 32px; padding:50px 10px;}

/* (버튼) 바로 시작하기 */
.title button{display: inline; width:180px; height: 40px; color:#fff; background: #7cb342;
  font-size: 16px; border:none; border-radius: 20px; box-shadow: 0 4px 16px rgba(105,147,6,0.3); transition:0.3s;}
button:focus {outline:0;}
button:hover{background: rgba(159, 201, 60, 0.9); cursor: pointer; box-shadow: 0 2px 4px rgba(107, 153, 0, 0.6); }
