* {padding: 0; margin: 0;}
* {background-color:#e8f5e9; font-family:  "Noto Sans CJK KR"}

/* (반응형) 홈 화면 ~1280 */
@media (max-width:1280px) {body {background-color:#bbdefb}}
@media (max-width:1024px) {body {background-color:#90caf9}}
@media (max-width:768px) {body {background-color:#64b5f6}}
@media (max-width:600px) {body {background-color:#42a5f5}}
@media (max-width:480px) {body {background-color:#2196f3}}

/* (반응형)오른쪽 상단바 */
.container{width:1200px; margin:0 auto; background:inherit; text-align:right;}
.container a{display:inline-block; text-decoration:none; color:#212121; padding: 5px 0 0 10px; transition: all 0.5s ease;}
.container a:hover {color:#f44336; }
@media (max-width : 1280px) {.container {width:90%; padding:0 15px}}

/* 내용 가운데 정렬 */
body {text-align: center}

.title {text-align: center; text-transform:uppercase;}
.title p {display: inline; font-size: 24px; color:#424242; padding: "20px 20px"}

/* 이미지 콜라주 */
/* 이미지 크기는 최대로 그냥 두고 span에 너비를 지정해서 사용.*/
.imgCollage {margin:auto;  text-align: center;}
@media screen and (min-width: 600px) {
	.imgCollage {
		display:flex; -webkit-flex:auto; -moz-display:flex; -ms-display:flex;
		flex-wrap:wrap; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap;
	}
	.imgCollage > span { padding: 4px ; }
	.imgCollage > span > .imageblock:not(:last-child) { vertical-align: baseline; }
    .imgCollage .imageblock { text-align:center; padding:0; }
	.imgCollage img { box-shadow: none; }
}
@media screen and (max-width: 599px) {
	.imgCollage > span { padding: 0; width: 100% !important; }
	.imgCollage .imageblock { padding: 16px 0; }
	.imgCollage  > span:first-of-type .imageblock:first-of-type { padding-top: 8px; }
	.imgCollage  > span:last-of-type .imageblock:last-of-type { padding-bottom: 4px; }
}

/* 별점 css*/
.selectForm p {display: inline; font-size: 24px; color:#424242; padding: "20px 20px"}
input {width:500px; height:250px; font-size:20px;}


/* 버튼 */
.btn{text-align:center; width:100px; height: 30px; color:#fff; background: #7cb342;
	font-size: 14px; border:none; border-radius: 20px; box-shadow: 0 4px 16px rgba(105,147,6,0.3); transition:0.3s;}
.btn:focus{outline:0;}
.btn:hover{background: rgba(159, 201, 60, 0.9); cursor: pointer; box-shadow: 0 2px 4px rgba(107, 153, 0, 0.6);}
